:root {
    --main-text-color: #554;
    /* --nav-height: 10.25%; */
}
/* font-family: 'Playfair Display', sans-serif */
html,
body,
#root{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-size: cover;
    /* overflow-x: hidden; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@keyframes success-msg-fade {
    from {opacity: 1}
    to {opacity: 0}
}
/* #region LANDING */
#landing-page{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100vw; */
    overflow: hidden;
    
}
#bg-img-content {
    width: 100vw;
    height: 96vh;
    background-image: url("./background-images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#landing-text {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-top: 240px;
}
#landing-text > p {
    font-family: 'Playfair Display', serif;
}
#landing-text-1 {
    font-size: 3em;
    font-weight: 300;
}
#landing-text-2 {
    font-size: 2.875em;
    font-weight: 400;
    margin: 4px;
}
#landing-text-3 {
    font-size: 2em;
    font-weight: 200;
    margin: 8px;
}
#landing-text-btn {
    margin-top: 16px;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    background-color: rgba(147, 66, 66, 0.7);
    box-shadow: 1px 1px 1px black;
    border: none;
    color: white;
    text-shadow: 0.5px 0.5px gray;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
}
#landing-text-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.025)
}
/* 200vh LANDING SECTION 2 */
#landing-section-2 {
    width: 100vw;
    height: 230vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-sponsors-page {
    width: 100%;
    height: 40%;
    margin-bottom: 64px;
}
#landing-sponsored-cos {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.brand-logo {
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}
.brand-logo-small {
    width: 100px;
    height: 80px;
    filter: grayscale(100%)
}
#landing-sponsors-ads {
    margin: 16px 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.landing-ad {
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    width: 612.5px;
    height: 375px;
    /* height: auto; */
    background-color: rgba(0,0,0,.2);
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .overlay {
    z-index: 1;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7)
} */
.landing-ad1 {
    background-image: url("./background-images/snow-leave-your-mark.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center
}
.landing-ad1-textbox {
    margin-right: 72px;
}
.landing-ad1-textbox > p {
    font-family: 'Playfair Display', serif;
}
.landing-ad1-text1 {
    font-weight: 600;
    font-size: 2em;
    color: white;
}
.landing-ad1-text2 {
    color: white;
    font-weight: 400;
}
.landing-ad2 {
    background-image: url('./background-images/backpacks-one-bag.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-ad2-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.landing-ad2-textbox > p {
    font-family: 'Playfair Display', serif;
}
.landing-ad2-text1 {
    font-size: 2em;
    font-weight: 700;
}
.landing-ad2-text2 {
    font-weight: 400;
}
.landing-ad2-text2 span {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
}
/* FEATURED PACKAGES */
#featured-pkgs-container {
    margin: 16px 0 16px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
#landing-section-2 > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
#landing-section-2 > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400
}
.featured-pkg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 220px;
    height: 300px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    margin: 12px;
    padding: 24px;
    background-color: white;
}
.featured-pkg-img {
    width: 160px;
    height: 160px;
}
.featured-pkg-name {
    text-decoration: underline;
    margin-top: 8px;
}
.upvote-pkg-btn {
    margin-top: 24px;
    background-color: rgb(92, 92, 254);
    color: white;
    width: 60px;
    border-radius: 6px;
}
/* LANDING CATEGORY FOOTER */
#landing-cat-footer {
    width: 100vw;
    height: 35vh;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#cat-footer-header {
    font-family: 'Playfair Display', serif;
}
#cat-footer-subheader {
    color: #777;
}
#landing-cat-container {
    width: 200px;
    display: flex;
    margin: 40px 0;
    font-weight: 300;
    justify-content: space-around;
}
#cat-col1-container {
    width: 120px;
    height: 200px;
    margin: 0 24px;
    color: #444;
}
#cat-col2-container {
    width: 120px;
    height: 200px;
    margin: 0 24px;
    color: #444
}
.footer-category-name {
    margin: 2px 8px;
}
.footer-category-name:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* LANDING FOOTER MAIN */

#landing-footer-main {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 24px;
}
.landing-page-break {
    background-color: rgba(51, 51, 51, 0.25);
    width: 95%;
    height: 1px;
}
#info-footer {
    width: 100vw;
    height: 325px;
    display: flex;
}
.footer-snippet {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-btn {
    font-size: .875em;
    background-color: rgb(24, 24, 24);
    color: white;
    width: 180px;
    height: 40px;
    margin: 6px;
    border-radius: 24px;
}
.footer-btn:hover {
    background-color: rgb(78, 128, 145);
    cursor: pointer;
}

#email-sub-input {
    height: 32px;
    width: 250px;
    border-radius: 6px;
    text-indent: 8px;
}
/* FOOTER BOTTOM */
#footer-bottom-page {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#copyright-text {
    margin-bottom: 8px;
}
/* #endregion */

/* #region NAVBAR */
#navbar-wrapper{
    width: 100%;
    height: 10.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
}

#navbar-top {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .8;
}
#navbar-top-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-top-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
#navbar-top-right {
    width: 50%;
    height: 100%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#nav-coname{
    padding: 0 32px 6px 32px;
    color: white;
    font-size: calc(1.25em + 1vw);
    font-weight: 300;
}
.navlink{
    color: white;
    padding: 0 40px;
    font-size: calc(0.75em + 0.3vw);
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
}

#home-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
#home-search-bar{
    width: 60%;
    height: 6%;
    margin-bottom: 48px;
}
.home-search-input{
    height: 100%;
}
/* DROPDOWNS */
.user-dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    color: white;
    padding: 1.8em 2em;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
}
.menu-button span {
    color: darkgray;
    margin-left: 4px;
}
.nav-user-initial {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    color: black;
}
.user-dropdown-menu{
    width: 72%;
    display: none;
}
.nav-dropdown-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    position: relative;
}
/* .nav-dropdown-item:hover, .nav-dropdown-item::before {
   
} */
.nav-dropdown-item:hover:before {
    content: '\0203A   ';
    position: absolute;
    left: 8px;
    color: rgba(199, 85, 85, 0.7);
    font-weight: 800;
    font-size: 1.5em;
}
.nav-dropdown-item:hover {
    padding-left: 20px;
    font-size: 1.06125em;
}
.user-dropdown-container:hover .user-dropdown-menu {
    top: 93%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 1;
    
}
/* #endregion */
/* #region ALL PRODUCTS */

#products-component{
    position: relative;
    top: 10.25%;
    width: 100%;
    height:160vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#products-header{
    font-weight: 900;
    height: 12.5vh;
    padding: 24px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#products-header-text{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 2.25rem;
    color: black;
}
#product-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
    padding: 8px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    border-top: 1px solid rgba(51, 51, 51, 0.25);
}
#product-categories > span {
    padding: 0 16px;
    font-size: .8em;
    color: gray;
}
#product-categories > span:hover {
    text-decoration: underline;
    cursor: pointer;
}
#product-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vh;
    font-size: .75em;
    padding: 24px 0;
}
#product-filters > span {
    padding: 0 8px;
}
#product-filters > span:hover {
    text-decoration: underline;
    cursor: pointer;
}
#products-container{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: rgb(250, 250, 250);
    padding: 1em 0;

}
.product-card{
    height: 360px;
    width: 260px;
    margin: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.product-card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.product-img{
    padding: 24px 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25)
    
}
.product-info-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-name {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.05em;
}
.product-price {
    font-weight: 300;
    font-size: 0.8em;
}
.product-price > span {
    font-size: 0.75em;
    vertical-align: text-top
}
.add-to-cart-form {
    width: 200px;
    margin-top: 16px;
}
.add-to-cart-btn {
    border-radius: 4px;
    color: white;
    background-color: black;
    margin-left: 8px;
    padding: 4px;
    font-weight: 400;
}
.qty-input {
    border: none;
    border: 1px solid rgba(51, 51, 51, 0.25);
    margin-left: 4px;
    border-radius: 4px;
    text-indent: 6px;
    width: 30px;
}
a{
    text-decoration: none;
    color: var(--main-text-color);
}
#shop-all-footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
/* #endregion */

/* #region SINGLE PRODUCT */

.single-prod-page {
    position: relative;
    top: 10.25%;
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.ad-space-thin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0 8px 0;
    height: 6vh;
    background: linear-gradient(to right, lightblue, rgb(225, 225, 118));
    width: 100vw;
}
.ad-space-thin > span {
    color: rgb(52, 51, 51);
    font-size: 1.5em;
    font-weight: 500;
}
.single-prod-path {
    display: flex;
    height: 3vh;
    width: 100%;
    margin-left: 40px;
}
.single-prod-path > span {
    font-size: .8em;
    margin-left: 8px;
}
.path-bold {
    color: rgb(62, 62, 62);
    font-weight: bold;
    cursor: pointer;
}
.path-regular {
    font-weight: 300;
}
.single-prod-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 16px;
}
.sp-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 60vh;
    margin-top: 16px;
}
.sp-main-left > h5 {
    padding-bottom: 8px;
}
.detail-imgs-container {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    flex-flow: row wrap;
}
.sp-img-mini {
    width: 50px;
    height: 50px;
    margin: 0 6px;
}
.detail-img {
    background: linear-gradient(to right, gray, lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 6px;
}
.bordered {
    border: 1px solid black;
}
.sp-main-center {
    width: 52.5vw;
    height: 80vh;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
.sp-main-img-container {
    margin: 24px;
    width: 540px;
    height: 540px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sp-main-img {
    width: 300px;
    height: 300px;
}
.sp-main-right {
    padding: 16px 16px;
    width: 32.5vw;
    height: 100vh;
    background-color: white
}
.sp-main-right > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 16px;
}
.sp-co-name {
    font-family: 'Playfair Display', serif;
    margin: 24px 0;
}
.sp-price > span {
    font-size: 0.75em;
    vertical-align: text-top;
}
.sp-size-container {
    width: 250px;
    height: 60px;
    margin: 24px 0;
}
.size-label {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 4px;
}
.size-select {
    background-color: white;
	display: block;
	font-size: .8em;
    font-weight: 400;
	color: #444;
	line-height: 1.3;
    padding: .6em 1.4em .5em 0;
    width: 240px;
    height: 42px;
	box-sizing: border-box;
    margin: 0 0 16px 4px;
	border: 1px solid black;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-indent: 8px;
}
.size-select::-ms-expand {
	display: none;
}
.size-select:focus {
	outline: none;
}
.size-select option {
	font-weight:normal;
}
.sp-qty-input {
    border: 1px solid black;
    width: 40px;
    height: 50px;
    border-radius: 6px;
    text-indent: 14px;
    font-weight: 400;
    font-size: .8em;
}
.sp-qty-input:focus {
    outline: none;
}
.sp-qty-container .qty-text {
    margin-left: 4px;
    color: black;
    font-weight: 500;
    font-size: 0.75em;
}
.in-stock {
    color: green;
}
.in-stock span {
    padding: 0 8px 0 12px;
}
.out-of-stock {
    color: red;
    padding: 0 8px;
}
.sp-btn-menu {
    margin: 24px 0 40px 0;
    width: 30vw;
    height: 40px;
    display: flex;
}
h6 > span {
    font-size: 0.8em;
    vertical-align: text-top;
}
.pkgs-with-prod-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding-bottom: 60px;
}
.pkgs-with-prod-container h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    margin: 8px;
    font-weight: 700;
}
.browse-pkgs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filler-card {
    width: 220px;
    height: 300px;
    margin: 12px;
    padding: 24px;
    background-color: white;
}

/* REVIEWS */

#sp-reviews-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    align-items: center
}
#sp-reviews-page-header {
    padding: 64px 0px;
    
}
#sp-reviews-page-header span {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
#sp-review-stats {
    width: 100vw;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sp-review-stats > div {
    width: 40%;
    height: 100%;
    background-color: gray;
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin: 40px;
}
#sp-write-review-container {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 0 40px 0;
}
#sp-write-review-container h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 40px;
}
.sp-review-card {
    max-width: 700px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid rgba(51, 51, 51, 0.1);
    padding: 12px 16px;
    margin-bottom: 32px;
}
.sp-review-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sp-review-card h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.875em;
    margin: 18px 0;
}
.sp-review-text-container {
    margin-bottom: 16px;
}
.sp-review-familiarity {
    margin-bottom: 8px;
}
.sp-review-familiarity span {
    font-weight: 500;
}
.sp-review-desc {
    font-size: .95em;
}
.sp-author-box {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.sp-review-card .nav-user-initial {
    background-color: white;
    color: green;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    margin: 0;
}
.sp-review-author-name {
    padding-left: 8px;
    font-weight: 500;
}

/* #endregion */

/* #region -------- SIGN IN -------- */
#auth-page {
    position: relative;
    top: 17.25%;
    display: flex;
    width: 100%;
    height: 82.75%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}
#auth-form-container {
    margin-top: 1em;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
    border-radius: 4px;
}
.signup-form input {
    border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 0 3.125px #777 inset;
   -moz-box-shadow: 0 0 3.125px #777 inset;
   box-shadow: 0 0 3.125px #777 inset;
   line-height: 25px;
   width: 200px;
   text-indent: 8px;
}
.signup-form input:focus {
    outline: none;
}
.signup-form h2 {
    padding: 0.5em 0;
    color: rgb(12, 131, 12);
    font-size: 2em;
}

label {
    font-size: 0.875em;
}
.input-group {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
input[type='text'], input[type='email'] {
    width: 50%;
}
.signup-form > button[type='submit'] {
    width: 120px;
    height: 50px;
    background-color: rgb(12, 142, 12);
    color: white;
    margin: 1em;
}
/* #endregion */
/* #region ------- CART ------- */

#cart-page {
    position: relative;
    top: 17.25%;
    width: 100%;
    height: 82.75%;
}
/* #endregion */

/* #region ------- PROFILE ------- */

#profile-page {
    position: relative;
    top: 17.25%;
    width: 100%;
    height: 82.75%;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', 'sans-serif'
}
#profile-top {
    display: flex;
}
#profile-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 120px;
    padding-top: 40px;
    width: 20vw;
}
#user-specs {
    display: flex;
    align-items: center;
    padding: 10px;
}
#user-initial {
    width: 64px;
    height: 64px;
    background-color: rgb(242, 242, 242);
    /* color: rgb(143, 143, 143); */
    color: #DDC9A3;
    font-size: 2em;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#user-name-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#user-name {
    margin: 0 8px;
}
#user-name-div h4 {
    color: rgb(169, 169, 169);
    margin: 0 8px;
}
#user-name-div h4:hover {
    color: rgb(26, 25, 25)
}
#profile-nav-menu {
    display: flex;
    flex-direction: column;
}
.profile-nav-btn {
    padding: 10px;
    margin: 10px 0 10px 64px;
    background-color: none;
    color: rgb(116, 116, 116);
}
.profile-nav-btn:hover {
    color: black;
    cursor: pointer;
}
#profile-column-split {
    width: 1px;
    background-color: #d8d7d7;
    height: 82.5vh;
    margin: 80px 64px 0 40px;
}
#profile-body {
    width: 55vw;
    display: flex;
    margin-top: 56px;
    max-height: 82.5vh;
    overflow: hidden;
}
.profile-signout {
    color: rgb(172, 172, 172);
    margin-left: 8px;
}
.profile-signout:hover {
    color: #554;
}
/* #endregion */
/* #region ORDER CARD  */

.order-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: 45vw;
    margin: 16px 0;
    border-radius: 12.5px;
    padding: 5px 10px;
}
.order-no {
    font-size: 1em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.line-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}
.line-item-name {
    width: 34%;
}
.line-item-name-hdr {
    width: 34%;
    text-decoration: underline;
    font-size: .65em;
    margin: 6px 0;
}
.line-item-qty {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    width: 33%;
}
.line-item-qty-hdr {
    font-size: .65em;
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 6px 0 6px 40px;
    text-decoration: underline;
}
.line-item-price {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin-right: 16px;
}
.underline {
    text-decoration: underline;
}
.dollar-sign {
    font-size: 0.35em;
    vertical-align: text-top;
}
.line-item-price-hdr {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    text-decoration: underline;
    font-size: .65em;
    margin: 6px 16px 6px 0;
}
.line-item-total-line {
    width:  100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    
}
.line-item-total {
    margin-right: 5px;
}
/* #endregion */

/* ##### USER REVIEW CARD ############# */

.user-review-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
}
.review-card-header {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 10px 0;
}
.review-card-text {
    font-size: .85em;
}
.review-card-rating {
    margin: 0 24px;
   
}
.review-star {
    margin-left: 2px;
    font-size: .89em;
    vertical-align: text-top;
}

/* ###### ACCOUNT SETTINGS ########### */

#acct-settings-page {
    height: 72.5vh;
}
#AS-slide-hdr {
    padding: 8px 48px 16px 12px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.AS-slide-unit {
    color: rgb(116, 116, 116);
    margin: 4px 24px;
}
.AS-slide-unit:hover {
    cursor: pointer;
    color: black;
}

/* #region ADDRESS ######## */

#addresses-body {
    padding-top: 24px;
}
#addresses-dflt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addresses-dflt > * {
    margin: 4px;
}
#user-addresses {
    display: flex;
    flex-flow: row wrap;
}
.user-address-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 220px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    margin: 16px;
    border-radius: 6px;
    
}
.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    text-indent: 14px;
}
.address-header > h4 {
    margin: 4px 0;
}
.address-check-mark {
    width: 16px;
    height: 16px;
    border-radius: 24px;
    color: green;
    border: 1px solid green;
    margin-right: 8px;
}
.address-details-box {
    padding-left: 14px;
    padding-top: 8px;
    height: 148px;
}
.address-line {
    font-weight: 200;
    margin: 4px 0;
}
.address-util-menu {
    font-size: 0.725em;
    display: flex;
    height: 16px;
    margin-top: 10px;
    color: rgb(28, 28, 247);
}
.address-util-1 {
    padding: 0 14px;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    text-decoration: underline;
}
.address-util-2 {
    padding: 0 19px;
    text-decoration: underline;
}
.address-util-1:hover,
.address-util-2:hover {
    cursor: pointer;
}
.white-btn {
    font-size: .875em;
    font-weight: 500;
    background-color: white;
    color: black;
    width: 180px;
    height: 40px;
    margin: 0 6px;
    border-radius: 24px;
    transition: 0.325s ease;
    border: 1px solid black;
}
.white-btn:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
}
.white-btn:focus {
    outline: none;
}
/* #### ADD ADDRESS ########### */

#add-address-form {
    display: flex;
    flex-direction: column;
}
#add-address-page h3 {
    margin: 0 0 12px 4px;
}
.acct-settings-form > input {
    display: flex;
    flex-direction: column;
    border: none;
    border: 1px solid rgb(210, 209, 209);
    height: 28px;
    border-radius: 8px;
    margin: 0 0 16px 4px;
    text-indent: 6px;
    font-size: .8em;
}
.acct-settings-form > input:focus {
    outline: none;
    border: 1px solid green;
    border-radius: 8px;
}
.add-address-select {
    background-color: white;
	display: block;
	font-size: .8em;
    font-weight: 400;
	color: #444;
	line-height: 1.3;
    padding: .6em 1.4em .5em 0;
    width: 240px;
	box-sizing: border-box;
    margin: 0 0 16px 4px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-indent: 6px;
}
.add-address-select::-ms-expand {
	display: none;
}
.add-address-select:hover {
	border-color: #888;
}
.add-address-select:focus {
	outline: none;
}
.add-address-select option {
	font-weight:normal;
}
#add-address-btn-menu {
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    margin-left: 4px;
}
.black-btn {
    color: white;
    background-color: rgb(24, 24, 24);
    width: 180px;
    height: 40px;
    margin: 0 6px;
    border-radius: 24px;
    font-weight: 400;
    font-size: .875em;
}
.add-address-cancel-btn {
    background-color: white;
    color: rgb(24, 24, 24);
    width: 140px;
    height: 32px;
    margin-left: 24px;
    border-radius: 24px;
    font-weight: 400;
}
/* #endregion */
/* ######## CHANGE EMAIL ######### */

.change-cred-page {
    padding-top: 40px;
}
.change-email-hdr {
    font-size: 1.25em;
    margin: 4px;
    font-weight: 400;
}
.change-cred-page > h5 {
    color: rgb(126, 126, 126);
    margin: 8px 4px;
    padding-bottom: 4px;
    font-weight: 400;
}
/* .white-btn {
    border: 1px solid black;
    font-size: .875em;
    font-weight: 500;
    background-color: white;
    color: black;
    width: 140px;
    height: 32px;
    margin: 4px;
    border-radius: 24px;
    transition: 0.325s ease
}
.white-btn:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
}
.white-btn:focus {
    outline: none;
} */
.change-password-hdr {
    margin: 0 0 12px 4px;
    font-size: 1.25em;
    font-weight: 400;
}

/*  ##### EMAIL ERROR ######## */

.cred-error {
    line-height: 40px;
    text-align: center;
    color: red;
    font-size: 1em;
    font-weight: 400;
    width: 300px;
    height: 40px;
    border: 1px solid red;
    border-radius: 8px;
    margin-top: 24px;
    opacity: 1;
    animation-name: success-msg-fade;
    animation-duration: 1.25s;
    animation-delay: 4.75s;
}
.cred-error > span {
    padding-right: 8px;
}

/* ##### CHANGE SUCCESS ######### */

.change-success {
    line-height: 40px;
    text-align: center;
    color: green;
    font-size: 1em;
    font-weight: 400;
    width: 450px;
    height: 40px;
    border: 1px solid green;
    border-radius: 8px;
    margin-top: 24px;
    animation-name: success-msg-fade;
    animation-delay: 4.75s;
    animation-duration: 1.25s;
}
.change-success > span {
    font-size: 1.25em;
    padding-right: 8px;
}

/* ------- CART -------- */

.cart-item {
    border: 1px solid black;
    height: 40%;
}
#cart-review-btn {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(0, 89, 255);
    border-radius: 6px;
}

/* ----- PP -------*/

#pp-page {
    position: relative;
    top: 17.25%;
    height: 82.75%;
    width: 100%;
}
.pp-card {
    position: relative;
    left: 40px;
    margin-top: 24px;
    width: 50%;
    height: 180px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}
.pp-card-selected {
    position: relative;
    left: 40px;
    margin-top: 24px;
    width: 50%;
    height: 180px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(184, 183, 183);
}
.pp-address-no {
    text-decoration: underline;
    margin: 16px 8px;
}
.pp-ship-info {
    height: 20px;
    width: 100%;
    margin-left: 8px;
}
#checkout-btn {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(233, 178, 76);
    border-radius: 6px;
}

/* ----- CHECKOUT ----- */

#checkout-page {
    position: relative;
    top: 17.25%;
    height: 82.75%;
    width: 100%;

}
.checkout-details-box {
    width: 100%;
    height: 30%;
    border: 1px solid rgba(51, 51, 51, 0.1)
}
#complete-order-btn {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(233, 178, 76);
    border-radius: 6px;
}

/* ---- CHECKOUT SUCCESS ---- */
#checkout-success-page {
    position: relative;
    top: 17.25%;
    height: 82.75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#checkout-success-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    margin-top: 64px;
}

#checkout-success-details-link {
    color: blue;
    text-decoration: underline;
}


/* ------ COMPANY PROFILE ------- */

#company-profile-page {
    position: relative;
    top: 17.25%;
    height: 82.75%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.company-profile-pkg {
    border: 1px dashed red;
}
.company-profile-prod-img {
    border: 1px solid rgba(51, 51, 51, 0.1)
}
