:root {
    --main-text-color: #555;
}
html,
body,
#root{
    width: 100%;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    /* background-color: #E59F71;
    */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}
#landing-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#landing-text {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landing-text-1 {
    font-size: 2.5em;
    font-weight: 300;
}
#landing-text-2 {
    font-size: 2.875em;
    margin: 4px;
}
#landing-text-3 {
    font-size: 1.25em;
    margin: 8px;
}
#landing-text-btn {
    box-shadow: 0 0 .1px inset;
    margin-top: 16px;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    background-color: white;
    font-size: 1em;
}

#navbar-wrapper{
    width: 100%;
    height: 17.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
}

#navbar-top {
    width: 100%;
    height: 58%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .8;
}
#navbar-top-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-top-left {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}
#navbar-top-right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-break {
    width: 97.5%;
    background-color: white;
    color: white;
}
#navbar-bot {
    color: white;
    width: 100%;
    height: 41.5%;
    /* border-bottom: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    opacity: .8;

}
.navlinks{
    width: 30%;
    height: 100%;
    display: flex;
    padding-bottom: 12px;
}
.navleft{
    justify-content: flex-start;
    align-items: center;
}
.navright{
    justify-content: flex-end;
    align-items: center;
}
#nav-coname{
    margin: 0 40px;
    color: white;
    font-size: calc(1.25em + 1vw);
    padding-bottom: 12px;
}
.navlink{
    color: white;
    padding: 8px 8%;
    font-size: calc(0.75em + 0.3vw);
    cursor: pointer;
    text-decoration: none;
    margin-top: 12px;
    /* temp fix^ */
}
.nav-product-link {
    font-size: 1.2em;
}
#home-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
#home-search-bar{
    width: 60%;
    height: 6%;
    margin-bottom: 48px;
}
.home-search-input{
    height: 100%;
}
/* #featured-pkg-text{
    font-weight: 300;
    padding-bottom: 24px;
}
#featured-pkg-break{
    margin-top: 10px;
    border: 1px solid black;
    width: 97.5%;
}
#main-half-1{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-half-2{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: center;
}
#home-featured-container{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#featured-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#package-and-line{
    height: 90%;
    width: 25%;
}
.home-featured-package{
    height: 90%;
    width: 22.5%;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 1.5%;
}
#section-one-end{
    width: 95%;
    height: 10%;
    
} */
/* ALL PRODUCTS */

#products-component{
    position: relative;
    top: 17.25%;
    width: 100%;
    height: 83.75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#products-header{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#products-header-text{
    font-weight: 200;
    font-size: 2rem;
    color: #666;

}
#products-container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.product-card{
    height: 280px;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid rgba(51, 51, 51, 0.1);
}
.product-img{
    border-bottom: 1px solid rgba(51, 51, 51, 0.1)
    
}
.product-info-container{
    height: 17.5%;
}

a{
    text-decoration: none;
    color: var(--main-text-color);
}

/* SINGLE PRODUCT */
#page-container {
    position: relative;
    top: 17.25%;
    width: 100%;
    height: 83.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#single-product-container {
    width: 100%;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#single-product-content {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
#single-product-left {
    width: 20%;
    margin: 0 1.875em;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-product-image {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
}

#button-menu {
    width: 60%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-product-button {
    margin: 0px 8px;
    width: 40%;
    height: 40%;
}

.single-product-button-left {
    background-color: lightblue;
    
}
.single-product-button-right {
    background-color: lightyellow;
}
#single-product-right {
    width: 32.5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    
}
#single-product-header {
    height: 15%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0;
}
#single-product-info-cont {
    height: 85%;
    display: flex;
}
#single-product-name {
    font-size: 2.125em;
    margin-right: 12px;
}
.single-product-dollar-sign {
    font-size: .6em;
    margin-left: 12px;
}
#single-product-price {
    font-size: 2.125em;
}
#single-product-avail-msg {
    margin-top: 0.5em;
    color: rgb(164, 164, 164);
    margin-left: 12px;
}
#single-product-rating {
    margin-top: 0.5em;
    margin-left: 12px;
}
#single-product-out-msg {
    margin-top: 0.25em;
    margin-left: 12px;
    color: red;
}
#single-product-review-list {
    position: absolute;
    width: 100%;
    height: 94vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#review-list-header {
    width: 42.5%;
    text-indent: 0.5em;
    font-size: 1.875em;
    display: flex;
    justify-content: flex-start;

}
.review-container {
    width: 42.5%;
    max-height: 25%;
    border: 1px solid rgba(51, 51, 51, 0.1);
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 6px;
}
.review-author {
    color: #333;
    margin-bottom: 8px;
    text-decoration: underline;
}
.review-info {
    width: 100%;
    height: 20%;
}
.review-desc {
    width: 100%;
    height: 70%;
}

/* -------- SIGN IN -------- */
#auth-page {
    position: relative;
    top: 17.25%;
    display: flex;
    width: 100%;
    height: 83.75%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}
#auth-form-container {
    margin-top: 1em;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
    border-radius: 4px;
}
.signup-form input {
    border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 0 3.125px #777 inset;
   -moz-box-shadow: 0 0 3.125px #777 inset;
   box-shadow: 0 0 3.125px #777 inset;
   line-height: 25px;
   width: 200px;
   text-indent: 8px;
}
.signup-form input:focus {
    outline: none;
}
.signup-form h2 {
    padding: 0.5em 0;
    color: rgb(12, 131, 12);
    font-size: 2em;
}

label {
    font-size: 0.875em;
}
.input-group {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
input[type='text'], input[type='email'] {
    width: 50%;
}
button[type='submit'] {
    width: 120px;
    height: 50px;
    background-color: rgb(12, 142, 12);
    color: white;
    margin: 1em;
}

/* ------- CART ------- */

#cart-page {
    width: 100%;
    height: 94%;
}

/* ------- PROFILE ------- */

#profile-page {
    width: 100%;
    height: 94%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
#profile-header {
    height: 15%;
    border: 1px solid green;
    display: flex;
}
#profile-user-info {
    height: 100%;
    display: flex;
}
#profile-user-pic {
    width: 80px;
    height: 80px;
}
#profile-user-names {
    display: flex;
    flex-direction: column;
}


#profile-body {
    height: 85%;
    border: 1px solid orange;
    display: flex;
}
#profile-nav-menu {
    width: 200px;
    display: flex;
    flex-direction: column;
}
#profile-content {
    width: 75vw;
    border: 1px solid blue;
}