:root {
    --main-text-color: #554;
    --percent: calc(var(--rating) * 100%);
    --star-color: #fff;
    --star-background: #fc0;
    /* --nav-height: 10.25%; */
}
/* font-family: 'Playfair Display', sans-serif */
html,
body,
#root{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    min-height: 100vh;
    background-size: cover;
    /* overflow-x: hidden; */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
@keyframes success-msg-fade {
    from {opacity: 1}
    to {opacity: 0}
}
/* #region ###### BUTTONS ###### */
.medium-btn-white {
    color: black;
    background-color: white;
    border: 2px solid black;
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    margin: 6px;
    border-radius: 24px;
    transition: 0.25s ease;
    cursor: pointer;
}
.medium-btn-white:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;  
}
.medium-btn-white:focus {
    outline: none;
}
.medium-btn-black {
    color: white;
    background-color: black;
    border: none;
    width: 200px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    margin: 6px;
    border-radius: 24px;
    transition: 0.25s ease;
    cursor: pointer;
}
.medium-btn-black:focus {
    outline: none;
}
/* #endregion */
/* #region ###### LANDING ###### */
#landing-page{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 100vw; */
    overflow: hidden;
    
}
#bg-img-content {
    width: 100vw;
    height: 98vh;
    display: inline-flex;
    justify-content: center;
}
.main-img {
    width: 100%;
    height: auto;
}
#landing-text {
    position: absolute;
    top: 160px;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#landing-text-1 {
    font-size: 5vw;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
}
#landing-text-2 {
    font-size: 3vw;
    font-weight: 400;
    margin: 4px;
    font-family: 'Playfair Display', serif;
}
#landing-text-3 {
    font-size: 3vw;
    font-weight: 200;
    margin: 8px;
    font-family: 'Playfair Display', serif;
}
#landing-text-btn {
    margin-top: 16px;
    border-radius: 8px;
    width: 150px;
    height: 32px;
    background-color: rgba(147, 66, 66, 0.7);
    box-shadow: 1px 1px 1px black;
    border: none;
    color: white;
    text-shadow: 0.5px 0.5px gray;
    font-size: 1.15em;
    font-weight: 500;
    cursor: pointer;
}
#landing-text-btn:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.025)
}
/* 200vh LANDING SECTION 2 */
#landing-section-2 {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#landing-sponsors-page {
    width: 100%;
    height: 40%;
    margin-bottom: 64px;
}
#landing-sponsored-cos {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
}
.brand-logo {
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
}
.brand-logo-small {
    width: 100px;
    height: 80px;
    filter: grayscale(100%)
}
#landing-sponsors-ads {
    margin: 16px 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.landing-ad {
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    color: white;
    width: 612.5px;
    height: 375px;
    /* height: auto; */
    background-color: rgba(0,0,0,.2);
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .overlay {
    z-index: 1;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7)
} */
.landing-ad1 {
    background-image: url("./background-images/snow-leave-your-mark.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center
}
.landing-ad1-textbox {
    margin-right: 72px;
}
.landing-ad1-textbox > p {
    font-family: 'Playfair Display', serif;
}
.landing-ad1-text1 {
    font-weight: 600;
    font-size: 2em;
    color: white;
}
.landing-ad1-text2 {
    color: white;
    font-weight: 400;
}
.landing-ad2 {
    background-image: url('./background-images/backpacks-one-bag.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-ad2-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.landing-ad2-textbox > p {
    font-family: 'Playfair Display', serif;
}
.landing-ad2-text1 {
    font-size: 2em;
    font-weight: 700;
}
.landing-ad2-text2 {
    font-weight: 400;
}
.landing-ad2-text2 span {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
}
/* #endregion */
/* #region ######LANDING NEW ARRIVALS ###### */
.landing-ps-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vh;
}
.landing-ps-header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 1vh 0;
}
.landing-ps-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    width: 100%;
}
.landing-ps-card-wrapper {
    cursor: pointer;
}
.landing-ps-card-wrapper:hover {
    cursor: pointer;
}
.landing-ps-card {
    width: 17vw;
    margin: 6vh 1.5vw;
    height: 48vh;
}
.landing-ps-card-top {
    width: 100%;
    height: 72%;
    background-color: white;
    border-bottom: 2px solid rgb(244, 244, 244); 
}
.landing-ps-card-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27%;
    background-color: white;
}
.landing-ps-card-prod-name {
    font-family: 'Playfair Display', serif;
    font-size: 0.85rem;
    margin: 3px 6px;
}
.landing-ps-card-price {
    font-family: 'Playfair Display', serif;
    font-size: 0.85rem;
    margin: 3px 6px;
}
.landing-ps-card-price span {
    font-family: 'Playfair Display', serif;
}
.landing-ps-card img {
    width: 100%;
    height: 100%;
}
/* #endregion */
/* #region ###### LANDING CATEGORY FOOTER ###### */
#landing-cat-footer {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#cat-footer-header {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 2rem;
}
#cat-footer-subheader {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: #777;
}
#landing-cat-container {
    width: 300px;
    display: flex;
    margin: 40px 0;
    font-weight: 300;
    justify-content: space-between;
}
#cat-col1-container {
    /* width: 120px; */
    /* height: 200px; */
    /* margin: 0 24px; */
    /* color: black; */
}
#cat-col2-container {
    /* width: 120px;
    height: 200px;
    margin: 0 24px;
    color: black; */
}
.footer-category-name {
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 8px;
    cursor: pointer;
}
.footer-category-name:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* #endregion */

/* #region ###### LANDING FOOTER MAIN ###### */

#landing-footer-main {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 24px;
}
.landing-page-break {
    background-color: rgba(51, 51, 51, 0.25);
    width: 95%;
    height: 1px;
}
#info-footer {
    width: 100vw;
    height: 325px;
    display: flex;
}
.footer-snippet {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-btn {
    font-size: .875em;
    background-color: rgb(24, 24, 24);
    color: white;
    width: 180px;
    height: 40px;
    margin: 6px;
    border-radius: 24px;
}
.footer-btn:hover {
    background-color: rgb(78, 128, 145);
    cursor: pointer;
}

#email-sub-input {
    height: 32px;
    width: 250px;
    border-radius: 6px;
    text-indent: 8px;
}
/* #endregion */
/* #region ###### FOOTER BOTTOM ##### */
#footer-bottom-page {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#copyright-text {
    margin-bottom: 8px;
}
/* #endregion */

/* #region ###### NAVBAR ###### */

#navbar-wrapper{
    width: 100%;
    height: 10.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
}
#navbar-top {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: .8;
}
#navbar-top-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-top-left {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
}
#navbar-top-right {
    width: 35%;
    height: 100%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#nav-coname{
    padding: 0 32px 6px 32px;
    color: white;
    font-size: calc(1.25em + 1vw);
    font-weight: 300;
}
.navlink{
    color: white;
    padding: 0 20px;
    font-size: calc(0.75em + 0.3vw);
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
}
.products-navlink {
    margin-left: 20px;
}

#home-main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
#home-search-bar{
    width: 60%;
    height: 6%;
    margin-bottom: 48px;
}
.home-search-input{
    height: 100%;
}
/* DROPDOWNS */
.user-dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    color: white;
    padding: 0 20px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
}
.menu-button span {
    color: darkgray;
    margin-left: 4px;
}
.nav-user-initial {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    color: black;
}
.user-dropdown-menu{
    z-index: 90000;
    width: 75%;
    display: none;
}
.nav-dropdown-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 10px;
    padding-left: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    position: relative;
}
.nav-dropdown-item:before {
    content: '\0203A   ';
    position: absolute;
    left: 8px;
    color: white;
    font-weight: 800;
    font-size: 1.5em;
}
.nav-dropdown-item:hover:before {
    color: rgba(199, 85, 85, 0.7);
}
.user-dropdown-container:hover .user-dropdown-menu {
    top: 93%;
    position: absolute;
    display: block;
    flex-direction: column;
    background-color: black;
    z-index: 10;
    
}
/* #endregion */
/* #region ###### ABOUT ###### */

.about-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.about-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
#about-content-navbar {
    position: fixed;
    color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
}
.about-content-navbar-half {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#about-nav-left h1 {
    font-weight: bold;
    transition: 0.1s ease;
    cursor: pointer;

}
#about-nav-left h1:hover {
    color: rgba(255,255,255,0.9);
    
}
#about-nav-right {}
#about-nav-right span {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0px 20px;
    transition: 0.2s ease-in;
    cursor: pointer;

}
#about-nav-right span:hover {
    color: rgba(255,255,255,0.9);
    cursor: pointer;

}
#about-main-image {
    width: 100vw;
    height: 100vh;
}


/* #endregion */
/* #region ALL PRODUCTS */

#products-component{
    position: relative;
    top: 10.25%;
    width: 100%;
    height:160vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
}
#products-header{
    font-weight: 900;
    height: 12.5vh;
    padding: 24px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#products-header-text{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 2.25rem;
    color: black;
}
#product-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vw;
    padding: 8px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    border-top: 1px solid rgba(51, 51, 51, 0.25);
}
#product-categories > span {
    padding: 0 16px;
    font-size: .8em;
    color: gray;
}
#product-categories > span:hover {
    text-decoration: underline;
    cursor: pointer;
}
#product-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100vh;
    font-size: .75em;
    padding: 24px 0;
}
#product-filters > span {
    padding: 0 8px;
}
#product-filters > span:hover {
    text-decoration: underline;
    cursor: pointer;
}
#products-container{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-around;
    background-color: rgb(250, 250, 250);
    padding: 1em 0;
    margin: 12px 0;

}
.product-card{
    height: 360px;
    width: 260px;
    margin: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.product-card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.product-img{
    padding: 24px 0;
    width: 225px;
    height: 250px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25)
    
}
.product-info-container{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product-name {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.05em;
}
.product-price {
    font-weight: 300;
    font-size: 0.8em;
}
.product-price > span {
    font-size: 0.75em;
    vertical-align: text-top
}
.add-to-cart-form {
    width: 200px;
    margin-top: 16px;
}
.add-to-cart-btn {
    border-radius: 4px;
    color: white;
    background-color: black;
    margin-left: 8px;
    padding: 4px;
    font-weight: 400;
}
.qty-input {
    border: none;
    border: 1px solid rgba(51, 51, 51, 0.25);
    margin-left: 4px;
    border-radius: 4px;
    text-indent: 6px;
    width: 30px;
}
a{
    text-decoration: none;
    color: var(--main-text-color);
}
#shop-all-footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
/* #region PAGINATION */
.prod-pagination-box {
    display: flex;
    justify-content: space-between;
}
.page-dir-arrow-box {
    display: flex;
    align-items: center;
    padding: 0 6px;
}
.page-dir-arrow {
    height: 28.32px;
    line-height: 28px;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}
.page-box {
    width: 131.79px;
    height: 28.32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
}
.page-box-btn {
    padding: 0 4px;
    margin: 0 1px;
    cursor: pointer;
}
.page-num-selected {
    color: rgb(2, 145, 2);
    font-weight: 500;
    text-decoration: underline;
}
.page-box-ell {
    padding-left: 4px;
    padding-right: 5px;
}
/* #endregion */
/* #endregion */

/* #region SINGLE PRODUCT */

.single-prod-page {
    position: relative;
    top: 10.25%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
}
.ad-space-thin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    height: 6vh;
    background: linear-gradient(to right, lightblue, rgb(225, 225, 118));
    width: 100vw;
}
.ad-space-thin > span {
    color: rgb(52, 51, 51);
    font-size: 1.5em;
    font-weight: 500;
}
.single-prod-path {
    display: flex;
    height: 3vh;
    width: 100%;
    margin-left: 40px;
}
.single-prod-path > span {
    font-size: .8em;
    margin-left: 8px;
}
.path-bold {
    color: rgb(62, 62, 62);
    font-weight: bold;
    cursor: pointer;
}
.path-regular {
    font-weight: 300;
}
.single-prod-main {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 16px;
}
.sp-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 60vh;
    margin-top: 16px;
}
.sp-main-left > h5 {
    padding-bottom: 8px;
}
.detail-imgs-container {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    flex-flow: row wrap;
}
.sp-img-mini {
    width: 50px;
    height: 50px;
    margin: 0 6px;
}
.detail-img {
    background: linear-gradient(to right, gray, lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 6px;
}
.bordered {
    border: 1px solid black;
}
.sp-main-center {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
.sp-main-img-container {
    width: 540px;
    height: 540px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sp-main-img {
    width: 500px;
    height: 500px;
}
.sp-main-right {
    padding: 16px 0;
    width: 32.5vw;
    height: 100vh;
    background-color: white
}
.sp-main-right > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    margin-bottom: 16px;
}
.sp-co-name {
    font-family: 'Playfair Display', serif;
    margin: 24px 0;
}
.sp-price > span {
    font-size: 0.75em;
    vertical-align: text-top;
}
.sp-size-container {
    width: 250px;
    height: 60px;
    margin: 24px 0;
}
.size-label {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 4px;
}
.size-select {
    background-color: white;
	display: block;
	font-size: .8em;
    font-weight: 400;
	color: #444;
	line-height: 1.3;
    padding: .6em 1.4em .5em 0;
    width: 240px;
    height: 42px;
	box-sizing: border-box;
    margin: 0 0 16px 4px;
	border: 1px solid black;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-indent: 8px;
}
.size-select::-ms-expand {
	display: none;
}
.size-select:focus {
	outline: none;
}
.size-select option {
	font-weight:normal;
}
.sp-qty-input {
    border: 1px solid black;
    width: 40px;
    height: 50px;
    border-radius: 6px;
    text-indent: 14px;
    font-weight: 400;
    font-size: .8em;
}
.sp-qty-input:focus {
    outline: none;
}
.sp-qty-container .qty-text {
    margin-left: 4px;
    color: black;
    font-weight: 500;
    font-size: 0.75em;
}
.in-stock {
    color: green;
}
.in-stock span {
    padding: 0 8px 0 12px;
}
.out-of-stock {
    color: red;
    padding: 0 8px;
}
.sp-btn-menu {
    margin: 24px 0 40px 0;
    width: 30vw;
    height: 40px;
    display: flex;
}
h6 > span {
    font-size: 0.8em;
    vertical-align: text-top;
}
.pkgs-with-prod-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    padding-bottom: 40px;
}
.pkgs-with-prod-container h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    /* margin: 8px; */
    font-weight: 700;
}
.browse-pkgs-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filler-card {
    width: 220px;
    height: 300px;
    margin: 12px;
    background-color: white;
}

/* REVIEWS */

#sp-reviews-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    align-items: center
}
#sp-reviews-page-header {
    padding-top: 64px;
    
}
#sp-reviews-page-header span {
    font-size: 2em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
#sp-review-stats {
    width: 100vw;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sp-review-stats > div {
    width: 35%;
    height: 100%;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sp-overall-rating h3 {
    font-weight: 500;
    padding: 3px 0 6px 0;
}
.sp-overall-rating h5 {
    font-weight: 400;
    padding: 3px;

}
.sp-review-summary h3 {
    font-weight: 500;
    padding: 3px 0 6px 0;
}
.sp-review-statline {
    display: flex;
    padding: 4px;
}
.sp-review-statline div {
    height: 10px;
    margin-top: 4px;
}
.sp-review-statline span {
    padding: 0 8px;
}
#sp-write-review-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 64px 0 40px 0;
}
#sp-write-review-container h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.75em;
    margin-bottom: 40px;
}
.sp-review-card {
    max-width: 700px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    padding: 12px 16px;
    margin-bottom: 32px;
}
.sp-review-card-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    padding-bottom: 12px;
}
.sp-review-card-header h3 {
    font-size: 0.875em;
    font-weight: 500;
}
.sp-review-card-rating  span{
    font-size: 1.5em;
}
.sp-review-card h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.875em;
    margin: 18px 0;
}
.sp-review-text-container {
    margin-bottom: 16px;
}
.sp-review-familiarity {
    margin-bottom: 16px;
}
.sp-review-familiarity span {
    font-weight: 500;
}
.sp-review-desc {
    font-size: .95em;
}
.sp-author-box {
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.sp-review-card .nav-user-initial {
    background-color: white;
    color: green;
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    text-align: center;
    margin: 0;
}
.sp-review-author-name {
    padding-left: 8px;
    font-weight: 500;
}
.add-review-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}
.add-review-stars-container {
    margin-bottom: 24px;
}
.add-review-form select {
    margin-left: 0;
    margin-bottom: 24px;
}
.add-review-title {
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    text-indent: 8px;
    margin-bottom: 24px;
    font-size: 1.125em;
}
.add-review-text {
    border: 1px solid black;
    border-radius: 4px;
    height: 200px;
    resize: none;
    outline: none;
    padding: 8px;
    margin-bottom: 40px;
    font-size: 0.8em;
}
.add-review-form label {
    font-weight: 600;
    margin-bottom: 4px;
}
.add-review-button-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 80px; */
}
.add-review-cancel-btn {
    border: none;
    border-bottom: 1px solid gray;
    color: gray;
    margin-left: 16px;
    height: 24px;
    cursor: pointer;
}
.add-review-cancel-btn:hover{
    border: none;
    border-bottom: 1px solid black;
    color: black;
    margin-left: 16px;
}

  .hide {
    display: none;
  }
  
  .clear {
    clear: both;
  }
  
  .rating {
      width: 300px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: left;
      position: relative;
  }
  
  .rating > label {
      display: inline;
      padding: 0 2px;
      margin: 0;
      position: relative;
      cursor: pointer;
      color: #000;
      font-size: 3.5em;
  }
  
  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }
  
  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: black;
  }
  


/* #endregion */

/* #region -------- SIGN IN -------- */
#auth-page {
    position: relative;
    top: 17.25%;
    display: flex;
    width: 100%;
    height: 82.75%;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    
}
#auth-form-container {
    margin-top: 1em;
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(51, 51, 51, 0.25);
    border-radius: 4px;
}
.signup-form input {
    border: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: 0 0 3.125px #777 inset;
   -moz-box-shadow: 0 0 3.125px #777 inset;
   box-shadow: 0 0 3.125px #777 inset;
   line-height: 25px;
   width: 200px;
   text-indent: 8px;
}
.signup-form input:focus {
    outline: none;
}
.signup-form h2 {
    padding: 0.5em 0;
    color: rgb(12, 131, 12);
    font-size: 2em;
}

label {
    font-size: 0.875em;
}
.input-group {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
}
input[type='text'], input[type='email'] {
    width: 50%;
}
.signup-form > button[type='submit'] {
    width: 120px;
    height: 50px;
    background-color: rgb(12, 142, 12);
    color: white;
    margin: 1em;
}
/* #endregion */
/* #region ------- CART ------- */

#cart-page {
    position: relative;
    top: 10.25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.your-cart-header {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 2.35em;
    margin: 48px 0 24px 0;
    letter-spacing: 2px;
}
.cart-btn-menu {
    display: flex;
    width: 240px;
    margin: 16px 0;
    justify-content: center;
}
.cart-btn-menu div {
    padding: 0 12px;
    margin: 0 12px 40px 12px;
}
.cart-btn-menu div span {
    width: 100px;
    font-size: .8em;
}
#cart-content-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.cart-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart-items-header-table {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
    color: rgb(51, 51, 51, 0.45)
}
.cart-header-desc {
    width: 45%;
}
.cart-header-edit {
    width: 25%;
    display: flex;
    justify-content: center;
}
.wishlist-header-edit {
    width: 45%;
}
.cart-header-price {
    width: 10%;
    display: flex;
    justify-content: center;
}
.wishlist-header-price {
    width: 20%;
}
.cart-header-quantity {
    width: 10%;
    display: flex;
    justify-content: center;
}
.cart-header-total {
    width: 10%;
    display: flex;
    justify-content: center;
}
.cart-item {
    display: flex;
    padding: 16px 0 8px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1)
}
.cart-item-last {
    display: flex;
    padding: 16px 0 8px 0;
    justify-content: space-between;
}
.cart-item-desc-box {
    width: 45%;
    display: flex;
}
.cart-item-desc-box > div {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    flex-flow: column wrap;
}
.cart-item-desc-box div h4 {
    font-size: 0.9em;
    font-weight: 500;
}
.car-item-desc-specs {
    display: flex;
    flex-direction: row;
}
.cart-item-desc-specs span {
    font-size: 0.8em;
}
.cart-item-edit-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    
}
.wishlist-item-edit-box {
    width: 45%;
}
.cart-item-edit-box button:first-of-type {
    height: 26px;
    width: 140px;
    margin-bottom: 8px;
    cursor: pointer;
}
.cart-item-edit-box button:first-of-type:hover {
    cursor: pointer;
}
.cart-item-edit-box button:nth-child(2) {
    border: none;
    border-bottom: 1px solid gray;
    color: gray;
    cursor: pointer;
}
.cart-item-edit-box button:nth-child(2):hover {
    border: none;
    border-bottom: 1px solid black;
    font-weight: 400;
    color: black;
    cursor: pointer;
}
.cart-item-price-box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.wishlist-item-price-box {
    width: 20%;
}
.cart-item-quantity-box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}
.cart-item-total-box {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;

}
#cart-review-btn {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(0, 89, 255);
    border-radius: 6px;
}
.cart-empty-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.cart-empty-container h1 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 24px;
}
.cart-empty-container h3 {
    font-weight: bold;
    margin-bottom: 8px;
}
.cart-empty-text {
    margin-bottom: 24px;
}
.cart-empty-container p {
    font-size: .875em;
}
.cart-empty-container p:first-of-type {
    margin-bottom: 4px;
}
.cart-empty-container button {
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
}
.cart-empty-alt {
    padding: 8px 20px;
    background-color: rgb(240, 240, 240);
    width: 125%;
}
.cart-empty-alt h3 {
    font-weight: 500;
}
.cart-empty-alt p span {
    font-weight: 500;
}


/* #endregion */

/* #region ------- PROFILE ------- */

#profile-page {
    position: relative;
    top: 17.25%;
    width: 100%;
    height: 82.75%;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', 'sans-serif';
    overflow: hidden;
}
#profile-top {
    display: flex;
}
#profile-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 120px;
    padding-top: 40px;
    width: 20vw;
}
#user-specs {
    display: flex;
    align-items: center;
    padding: 10px;
}
#user-initial {
    width: 64px;
    height: 64px;
    background-color: rgb(242, 242, 242);
    /* color: rgb(143, 143, 143); */
    color: #DDC9A3;
    font-size: 2em;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#user-name-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#user-name {
    margin: 0 8px;
}
#user-name-div h4 {
    color: rgb(169, 169, 169);
    margin: 0 8px;
}
#user-name-div h4:hover {
    color: rgb(26, 25, 25)
}
#profile-nav-menu {
    display: flex;
    flex-direction: column;
}
.profile-nav-btn {
    padding: 10px;
    margin: 10px 0 10px 64px;
    background-color: none;
    color: rgb(116, 116, 116);
}
.profile-nav-btn:hover {
    color: black;
    cursor: pointer;
}
#profile-column-split {
    width: 1px;
    background-color: #d8d7d7;
    height: 82.5vh;
    margin: 80px 64px 0 40px;
}
#profile-body {
    width: 55vw;
    display: flex;
    margin-top: 56px;
    max-height: 82.5vh;
    overflow: hidden;
}
.profile-signout {
    color: rgb(172, 172, 172);
    margin-left: 8px;
}
.profile-signout:hover {
    color: #554;
}
/* #endregion */
/* #region ORDER CARD  */

.order-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: 45vw;
    margin: 16px 0;
    border-radius: 12.5px;
    padding: 5px 10px;
}
.order-no {
    font-size: 1em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.line-item {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}
.line-item-name {
    width: 34%;
}
.line-item-name-hdr {
    width: 34%;
    text-decoration: underline;
    font-size: .65em;
    margin: 6px 0;
}
.line-item-qty {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    width: 33%;
}
.line-item-qty-hdr {
    font-size: .65em;
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 6px 0 6px 40px;
    text-decoration: underline;
}
.line-item-price {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    margin-right: 16px;
}
.underline {
    text-decoration: underline;
}
.dollar-sign {
    font-size: 0.75em;
    font-weight: 500;
    vertical-align: text-top;
    color: black;
}
.bold {
    font-weight: 700;
}
.line-item-price-hdr {
    display: flex;
    justify-content: flex-end;
    width: 33%;
    text-decoration: underline;
    font-size: .65em;
    margin: 6px 16px 6px 0;
}
.line-item-total-line {
    width:  100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    
}
.line-item-total {
    margin-right: 5px;
}
.cart-selection-container {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.shipping-option-form {
    border-top: 1px solid black;
    height: 100%;
    width: 50%;
}
.shipping-option-form h3 {
    margin: 24px 0;
    font-weight: 500;
}
.shipping-input-group {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
.shipping-name {
    color: rgb(120, 119, 119);
    font-size: 0.8em;
}
.shipping-input-group input {
    margin-right: 12px;
}
.shipping-free {
    color: black;
    font-weight: 500;
    font-size: 0.9em;
}
.shipping-cost {
    color: black;
    font-size: 0.9em;
}
.cart-order-summary {
    border-top: 1px solid black;
    height: 100%;
    width: 40%;
}
.cart-order-summary h3 {
    font-weight: 500;
    margin: 24px 0;
}
.order-summary-lines {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}
.order-summary-line {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
.order-summary-detail {
    font-size: 0.8em;
}
.cart-order-summary button {
    width: 100%;
    margin: 0;
    margin-top: 8px;
}


/* #endregion */

/*  #region ###### USER REVIEW CARD ############# */

.user-review-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
}
.review-card-header {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 10px 0;
}
.review-card-text {
    font-size: .85em;
}
.review-card-rating {
    margin: 0 24px;
   
}
.review-star {
    margin-left: 2px;
    font-size: .89em;
    vertical-align: text-top;
}
/* #endregion */
/* #region     ###### ACCOUNT SETTINGS ########### */

#acct-settings-page {
    height: 72.5vh;
}
#AS-slide-hdr {
    padding: 8px 48px 16px 12px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.AS-slide-unit {
    color: rgb(116, 116, 116);
    margin: 4px 24px;
}
.AS-slide-unit:hover {
    cursor: pointer;
    color: black;
}

/* #region ADDRESS ######## */

#addresses-body {
    padding-top: 24px;
}
#addresses-dflt {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addresses-dflt > * {
    margin: 4px;
}
#user-addresses {
    display: flex;
    flex-flow: row wrap;
}
.user-address-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 220px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    margin: 16px;
    border-radius: 6px;
    
}
.address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    text-indent: 14px;
}
.address-header > h4 {
    margin: 4px 0;
}
.address-check-mark {
    width: 16px;
    height: 16px;
    border-radius: 24px;
    color: green;
    border: 1px solid green;
    margin-right: 8px;
}
.address-details-box {
    padding-left: 14px;
    padding-top: 8px;
    height: 148px;
}
.address-line {
    font-weight: 200;
    margin: 4px 0;
}
.address-util-menu {
    font-size: 0.725em;
    display: flex;
    height: 16px;
    margin-top: 10px;
    color: rgb(28, 28, 247);
}
.address-util-1 {
    padding: 0 14px;
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    text-decoration: underline;
}
.address-util-2 {
    padding: 0 19px;
    text-decoration: underline;
}
.address-util-1:hover,
.address-util-2:hover {
    cursor: pointer;
}
.white-btn {
    font-size: .875em;
    font-weight: 500;
    background-color: white;
    color: black;
    width: 180px;
    height: 40px;
    margin: 0 6px;
    border-radius: 24px;
    transition: 0.325s ease;
    border: 1px solid black;
}
.white-btn:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
}
.white-btn:focus {
    outline: none;
}
/* #### ADD ADDRESS ########### */

#add-address-form {
    display: flex;
    flex-direction: column;
}
#add-address-page h3 {
    margin: 0 0 12px 4px;
}
.acct-settings-form > input {
    display: flex;
    flex-direction: column;
    border: none;
    border: 1px solid rgb(210, 209, 209);
    height: 28px;
    border-radius: 8px;
    margin: 0 0 16px 4px;
    text-indent: 6px;
    font-size: .8em;
}
.acct-settings-form > input:focus {
    outline: none;
    border: 1px solid green;
    border-radius: 8px;
}
.add-address-select {
    background-color: white;
	display: block;
	font-size: .8em;
    font-weight: 400;
	color: #444;
	line-height: 1.3;
    padding: .6em 1.4em .5em 0;
    width: 240px;
	box-sizing: border-box;
    margin: 0 0 16px 4px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    text-indent: 6px;
}
.add-address-select::-ms-expand {
	display: none;
}
.add-address-select:hover {
	border-color: #888;
}
.add-address-select:focus {
	outline: none;
}
.add-address-select option {
	font-weight:normal;
}
#add-address-btn-menu {
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    margin-left: 4px;
}
.black-btn {
    color: white;
    width: 180px;
    height: 40px;
    margin: 0 6px;
    border-radius: 24px;
    font-weight: 400;
    font-size: .875em;
    cursor: pointer;
    background-color: rgb(24, 24, 24);

    transition: 0.25s ease;
}
.black-btn:hover {
    font-size: 1.125em;
    font-weight: 500;
}
.add-address-cancel-btn {
    background-color: white;
    color: rgb(24, 24, 24);
    width: 140px;
    height: 32px;
    margin-left: 24px;
    border-radius: 24px;
    font-weight: 400;
    cursor: pointer;
}
/* #endregion */
/* ######## CHANGE EMAIL ######### */

.change-cred-page {
    padding-top: 40px;
}
.change-email-hdr {
    font-size: 1.25em;
    margin: 4px;
    font-weight: 400;
}
.change-cred-page > h5 {
    color: rgb(126, 126, 126);
    margin: 8px 4px;
    padding-bottom: 4px;
    font-weight: 400;
}
/* .white-btn {
    border: 1px solid black;
    font-size: .875em;
    font-weight: 500;
    background-color: white;
    color: black;
    width: 140px;
    height: 32px;
    margin: 4px;
    border-radius: 24px;
    transition: 0.325s ease
}
.white-btn:hover {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
}
.white-btn:focus {
    outline: none;
} */
.change-password-hdr {
    margin: 0 0 12px 4px;
    font-size: 1.25em;
    font-weight: 400;
}

/*  ##### EMAIL ERROR ######## */

.cred-error {
    line-height: 40px;
    text-align: center;
    color: red;
    font-size: 1em;
    font-weight: 400;
    width: 300px;
    height: 40px;
    border: 1px solid red;
    border-radius: 8px;
    margin-top: 24px;
    opacity: 1;
    animation-name: success-msg-fade;
    animation-duration: 1.25s;
    animation-delay: 4.75s;
}
.cred-error > span {
    padding-right: 8px;
}

/* ##### CHANGE SUCCESS ######### */

.change-success {
    line-height: 40px;
    text-align: center;
    color: green;
    font-size: 1em;
    font-weight: 400;
    width: 450px;
    height: 40px;
    border: 1px solid green;
    border-radius: 8px;
    margin-top: 24px;
    animation-name: success-msg-fade;
    animation-delay: 4.75s;
    animation-duration: 1.25s;
}
.change-success > span {
    font-size: 1.25em;
    padding-right: 8px;
}
/* #endregion */
/* #region ###### CHECKOUT ###########*/
.checkout-step-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding-bottom: 40px;
}

.billing-address-wrapper {
    padding: 0 12px;
}
.billing-address-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.billing-address-card-active {
    border: 1px solid green;
    background-color: rgb(254, 254, 254);
    transform: scale(1.05)
}
.billing-address-card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}
.ship-address-input-group {
    padding: 12px 16px;
}
.ship-address-input-group span {
    padding-left: 8px;
}

#checkout-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10.25%;
    width: 100vw;
}
.checkout-header {
    padding: 20px 0;
    font-size: 1.25rem;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 70vw;
}
.checkout-header h3 {
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.checkout-header h5 {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: gray;
    padding: 4px 4px;
}
.checkout-pre-form-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.4);

}
.checkout-sample-advert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 12px;
    width: 35vw;
    height: 16vh;
    border-left: 5px solid green;
}
.checkout-sample-advert h3 {
    font-weight: bold;
}
.checkout-sample-advert p {
    margin: 4px 0;
}
.checkout-help-container {
    width: 25vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 16px;
}
.checkout-help-text {
    font-size: 0.75rem;
}
.checkout-help-text span {
    font-weight: bold;
}
.checkout-step-header {
    font-family: 'Playfair Display', serif;
    padding: 16px 0;
    font-weight: 300;
    font-size: 1.5rem;
}
.checkout-details-box {
    width: 100%;
    height: 30%;
    border: 1px solid rgba(51, 51, 51, 0.1)
}
.optional {
    font-size: 1rem;
    color: rgb(182, 182, 182);
}
#complete-order-btn {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: rgb(233, 178, 76);
    border-radius: 6px;
}
.gift-option-page {
    padding: 12px 16px;
}
.gift-option-page span {
    padding-left: 8px;
}
.checkout-redeem-section-wrapper {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.checkout-redeem-section-wrapper button {
    padding: 12px 0;
    margin: 12px 0;
}
.checkout-rc-modal-btn {
    display: flex;
    align-items: center;
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 1.5rem;
}
.checkout-rc-modal-btn:hover {
    color: black;
    cursor: pointer;
}
.checkout-rc-modal-btn span {
    padding-right: 8px;
    color: gray;
    font-size: 1.5rem;
}
.checkout-rc-modal-btn:focus {
    outline: none;
}
.redeem-code {
    padding: 8px;
}
/* #region MODALS */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.modal-main {
    display: flex;
    flex-direction: column;
    position:fixed;
    background: white;
    width: 35vw;
    height: 45vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
}
.display-block {
    display: block
}
.display-none {
    display: none;
}
.checkout-rc-modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
.checkout-rc-modal-top > span {
    font-size: 0.65rem;
    color: gray;
    padding: 0 12px;
}
.checkout-rc-modal-top button {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    background-color: white;
    margin: 0 12px;
    border: none;
}
.checkout-rc-modal-top button:focus {
    outline: none;
}
.checkout-rc-modal-content {
    width: 100%;
    height: 90%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.checkout-rc-modal-content p {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
}
.checkout-rc-modal-content input {
    margin: 24px 0 24px 0;
    width: 70%;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 2rem;
    text-indent: 6px;
}
.checkout-rc-modal-content input:focus {
    outline: none;
}
.checkout-rc-modal-content button {
    width: 70%;
    height: 50px;
}
/* #endregion */
/* #endregion */
 /* #endregion */


